<!--begin::Advance Table Widget 3-->
<div class="card card-custom card-stretch gutter-b">
  <!--begin::Header-->
  <div class="card-header border-0 py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">Taches</span>
    </h3>
    <div class="card-toolbar">
      <div class="form-outline" style="width: 25vw;">
        <input (input)="onSearchChange($event)" class="form-control"
               id="datatable-search-input"
               placeholder="Chercher une tache"
               type="search">
      </div>
    </div>
    <div class="card-toolbar">
        <app-tache-form  *ngIf="jwtService.hasRole('ScrumMaster') && this.tacheManager.storyId !== undefined"></app-tache-form>
    </div>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body pt-0 pb-3">
    <!--begin::Table-->
    <div class="table-responsive table-container">
      <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
        <thead>
        <tr class="text-uppercase">
          <th class="pl-7" style="width: 30%">
            <span class="text-dark-75">Libelle</span>
          </th>
          <th style="width: 120px">Date Creation</th>
          <th style="width: 80px">Date Dernier Modification</th>
          <th  *ngIf="jwtService.hasRole('ScrumMaster')" style="width: 80px">Etat</th>
        </tr>
        </thead>
        <tbody>
        <app-tache-item [desc]="searchElement"></app-tache-item>
        </tbody>
      </table>

    </div>
    <!--end::Table-->
  </div>
  <!--end::Body-->
</div>
<!--end::Advance Table Widget 3-->
