<!--begin::Advance Table Widget 3-->
<div class="card card-custom card-stretch gutter-b">
    <!--begin::Header-->
    <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">Sprints</span>
        </h3>
        <div class="card-toolbar">
            <a href="#" class="btn btn-success font-weight-bolder font-size-sm">
                Ajouter Sprint
            </a>
        </div>
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-0 pb-3">
        <!--begin::Table-->
        <div class="table-responsive table-container">
            <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                <thead>
                    <tr class="text-uppercase">
                        <th style="width: 50%" class="pl-7">
                            <span class="text-dark-75">Description</span>
                        </th>
                        <th style="width: 120px">Date Creation</th>
                        <th style="width: 80px">Date Dernier Modification</th>
                    </tr>
                </thead>
                <tbody>
                    <app-story-list></app-story-list>
                </tbody>
            </table>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Body-->
</div>
<!--end::Advance Table Widget 3-->