<div class="form-group">
  <span></span> I Agree the
  <a href="#" data-toggle="modal" data-target="#exampleModalCenter"> terms and conditions</a>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="cookiesContent" id="cookiesPopup">
        <a type="button" class="close" data-dismiss="modal">✖</a>
        <img src="https://cdn-icons-png.flaticon.com/512/1047/1047711.png" alt="cookies-img"/>
        <p>We use cookies for improving user experience, analytics and marketing.</p>
        <button type="button" class="accept" (click)="onAcceptepolicy()">That's fine!</button>
      </div>
    </div>
  </div>
</div>
