<!-- Button trigger modal -->
<button
  class="btn btn-success font-weight-bolder font-size-sm"
  data-target="#staticBackdrop"
  data-toggle="modal"
  type="button"
>
  Saisir les taches
</button>
<!-- Modal -->
<div
  aria-hidden="true"
  aria-labelledby="staticBackdropLabel"
  class="modal fade"
  data-backdrop="static"
  data-keyboard="false"
  id="staticBackdrop"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title" id="staticBackdropLabel">Saisir une tache</h5>
        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"

        >
          <i aria-hidden="true" class="ki ki-close"></i>
        </button>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="form">
        <div class="modal-body">
          <div class="card-body">
            <!--<input type="hidden" formControlName="storyId" [value]="this.tacheManager.storyId"/>-->
            <!--<div class="form-group">
              <label>Storie :</label>
              <select class="form-control form-control-solid" formControlName="storyId">
                <option *ngFor="let story of story" [ngValue]="story.id">{{story.id}}-{{story.description | slice:0:20}}
                  -{{story.dateCreation | date:'yy/mm/dd'}}</option>
              </select>
            </div>-->
            <div class="form-group">
              <label for="Libelle">Libelle :</label>
              <input type="text" class="form-control form-control-solid" formControlName="Libelle"
                        id="Libelle" name="Libelle" placeholder="Libelle de la tache..."/>
            </div>
            <div class="form-group">
              <label for="Description">Description :</label>
              <quill-editor [modules]="modules" formControlName="Description"
                        ></quill-editor>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="onSubmit()" class="btn btn-primary" data-dismiss="modal" type="submit">Submit</button>
          <button (click)="closeModal()" class="btn btn-secondary mr-2" data-dismiss="modal" type="reset">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
