<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white">
  <a class="navbar-brand  " href="#">
    <img alt="logo" class="d-inline-block align-top" src="assets/media/agile/logo.svg">
  </a>
  <button aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarText" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarText">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
    <button class="btn rounded-pill font-weight-bold btn-lg " routerLink="/signup" style="background: #B3FFAB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
      Get started
    </button>
  </div>
</nav>
<main class="bg-white">
  <div class="d-flex justify-content-between container-fluid">
    <div class="pl-lg-48 my-auto line-height-lg col-sm-6 col-md-6 col-xs-12 font-size-h1">
      <div class="font-weight-boldest font-size-h1-xxl">
        <strong>Lorem</strong>
        <strong>ipsum</strong>
        <strong>dolor</strong>
      </div>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur!</p>
      <button class="btn rounded-pill font-weight-bold btn-lg" routerLink="/signup" style="background: #B3FFAB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #12FFF7, #B3FFAB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #12FFF7, #B3FFAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
        Try it it's free ->
      </button>
    </div>
    <img alt="card" class="col-sm-6 col-md-6 col-xs-12 image-container" src="assets/media/agile/4018853.jpg"
         width="500">
  </div>
  <div class="card my-auto" style="border: none">
    <div class="row no-gutters">
      <div class="col-sm-6 col-md-6 col-xs-12 image-container pl-lg-48">
        <img alt="..." src="assets/media/svg/illustrations/17.png" style="max-width: 400px">
      </div>
      <div class="col-md-4 my-auto">
        <div class="card-body">
          <h5 class="card-title font-weight-bold font-size-h1-xxl mb-10" style="font-size: 3em !important;">Who We
            Are</h5>
          <p class="card-text font-weight-lighter font-size-h2 line-height-lg text-muted" style="">Lorem ipsum dolor sit
            amet,
            consectetur
            adipisicing elit.
            Commodi
            consectetur deserunt
            dicta enim natus nisi omnis quam quod veniam voluptates. Alias earum impedit, laboriosam molestiae molestias
            odit sapiente unde vitae.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel slide my-lg-48" data-ride="carousel" id="carouselExampleInterval">
    <div class="carousel-inner py-10">
      <div class="carousel-item active" data-interval="10000">
        <div class="d-flex justify-content-center">
          <img alt="..." class="d-block w-100" src="assets/media/demos/demo1.png">
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <div class="d-flex justify-content-center">
          <img alt="..." class="d-block w-100" src="assets/media/demos/demo2.png">
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <div class="d-flex justify-content-center">
          <img alt="..." class="d-block w-100" src="assets/media/demos/demo3.png">
        </div>
      </div>
      <div class="carousel-item" data-interval="2000">
        <div class="d-flex justify-content-center">
          <img alt="..." class="d-block w-100" src="assets/media/demos/demo4.png">
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" data-slide="prev" data-target="#carouselExampleInterval" type="button">
      <span aria-hidden="true" class="carousel-control-prev-icon"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" data-slide="next" data-target="#carouselExampleInterval" type="button">
      <span aria-hidden="true" class="carousel-control-next-icon"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
  <!--begin::why us-->
  <div class="container py-8">
    <div class="row">
      <div class="col-lg-4">
        <!--begin::Callout-->
        <div class="card card-custom wave wave-animate-slow wave-primary mb-8 mb-lg-0">
          <div class="card-body">
            <div class="d-flex align-items-center p-5">
              <!--begin::Icon-->
              <div class="mr-6">
													<span class="svg-icon svg-icon-primary svg-icon-4x">
														<!--begin::Svg Icon | path:assets/media/svg/icons/Home/Mirror.svg-->
														<svg height="24px" version="1.1"
                                 viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
															<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
																<rect height="24" width="24" x="0" y="0"></rect>
																<path
                                  d="M13,17.0484323 L13,18 L14,18 C15.1045695,18 16,18.8954305 16,20 L8,20 C8,18.8954305 8.8954305,18 10,18 L11,18 L11,17.0482312 C6.89844817,16.5925472 3.58685702,13.3691811 3.07555009,9.22038742 C3.00799634,8.67224972 3.3975866,8.17313318 3.94572429,8.10557943 C4.49386199,8.03802567 4.99297853,8.42761593 5.06053229,8.97575363 C5.4896663,12.4577884 8.46049164,15.1035129 12.0008191,15.1035129 C15.577644,15.1035129 18.5681939,12.4043008 18.9524872,8.87772126 C19.0123158,8.32868667 19.505897,7.93210686 20.0549316,7.99193546 C20.6039661,8.05176407 21.000546,8.54534521 20.9407173,9.09437981 C20.4824216,13.3000638 17.1471597,16.5885839 13,17.0484323 Z"
                                  fill="#000000" fill-rule="nonzero"></path>
																<path
                                  d="M12,14 C8.6862915,14 6,11.3137085 6,8 C6,4.6862915 8.6862915,2 12,2 C15.3137085,2 18,4.6862915 18,8 C18,11.3137085 15.3137085,14 12,14 Z M8.81595773,7.80077353 C8.79067542,7.43921955 8.47708263,7.16661749 8.11552864,7.19189981 C7.75397465,7.21718213 7.4813726,7.53077492 7.50665492,7.89232891 C7.62279197,9.55316612 8.39667037,10.8635466 9.79502238,11.7671393 C10.099435,11.9638458 10.5056723,11.8765328 10.7023788,11.5721203 C10.8990854,11.2677077 10.8117724,10.8614704 10.5073598,10.6647638 C9.4559885,9.98538454 8.90327706,9.04949813 8.81595773,7.80077353 Z"
                                  fill="#000000" opacity="0.3"></path>
															</g>
														</svg>
                            <!--end::Svg Icon-->
													</span>
              </div>
              <!--end::Icon-->
              <!--begin::Content-->
              <div class="d-flex flex-column">
                <a class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3 " href="#">Get
                  Started</a>
                <div class="text-dark-75">Base FAQ Questions</div>
              </div>
              <!--end::Content-->
            </div>
          </div>
        </div>
        <!--end::Callout-->
      </div>
      <div class="col-lg-4">
        <!--begin::Callout-->
        <div class="card card-custom wave wave-animate-slow wave-danger mb-8 mb-lg-0">
          <div class="card-body">
            <div class="d-flex align-items-center p-5">
              <!--begin::Icon-->
              <div class="mr-6">
													<span class="svg-icon svg-icon-danger svg-icon-4x">
														<!--begin::Svg Icon | path:assets/media/svg/icons/General/Thunder-move.svg-->
														<svg height="24px" version="1.1"
                                 viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
															<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
																<rect height="24" width="24" x="0" y="0"></rect>
																<path
                                  d="M16.3740377,19.9389434 L22.2226499,11.1660251 C22.4524142,10.8213786 22.3592838,10.3557266 22.0146373,10.1259623 C21.8914367,10.0438285 21.7466809,10 21.5986122,10 L17,10 L17,4.47708173 C17,4.06286817 16.6642136,3.72708173 16.25,3.72708173 C15.9992351,3.72708173 15.7650616,3.85240758 15.6259623,4.06105658 L9.7773501,12.8339749 C9.54758575,13.1786214 9.64071616,13.6442734 9.98536267,13.8740377 C10.1085633,13.9561715 10.2533191,14 10.4013878,14 L15,14 L15,19.5229183 C15,19.9371318 15.3357864,20.2729183 15.75,20.2729183 C16.0007649,20.2729183 16.2349384,20.1475924 16.3740377,19.9389434 Z"
                                  fill="#000000"></path>
																<path
                                  d="M4.5,5 L9.5,5 C10.3284271,5 11,5.67157288 11,6.5 C11,7.32842712 10.3284271,8 9.5,8 L4.5,8 C3.67157288,8 3,7.32842712 3,6.5 C3,5.67157288 3.67157288,5 4.5,5 Z M4.5,17 L9.5,17 C10.3284271,17 11,17.6715729 11,18.5 C11,19.3284271 10.3284271,20 9.5,20 L4.5,20 C3.67157288,20 3,19.3284271 3,18.5 C3,17.6715729 3.67157288,17 4.5,17 Z M2.5,11 L6.5,11 C7.32842712,11 8,11.6715729 8,12.5 C8,13.3284271 7.32842712,14 6.5,14 L2.5,14 C1.67157288,14 1,13.3284271 1,12.5 C1,11.6715729 1.67157288,11 2.5,11 Z"
                                  fill="#000000" opacity="0.3"></path>
															</g>
														</svg>
                            <!--end::Svg Icon-->
													</span>
              </div>
              <!--end::Icon-->
              <!--begin::Content-->
              <div class="d-flex flex-column">
                <a class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3" href="#">Tutorials</a>
                <div class="text-dark-75">Books &amp; Articles</div>
              </div>
              <!--end::Content-->
            </div>
          </div>
        </div>
        <!--end::Callout-->
      </div>
      <div class="col-lg-4">
        <!--begin::Callout-->
        <div class="card card-custom wave wave-animate-slow wave-success mb-8 mb-lg-0">
          <div class="card-body">
            <div class="d-flex align-items-center p-5">
              <!--begin::Icon-->
              <div class="mr-6">
													<span class="svg-icon svg-icon-success svg-icon-4x">
														<!--begin::Svg Icon | path:assets/media/svg/icons/Design/Sketch.svg-->
														<svg height="24px" version="1.1"
                                 viewBox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
															<g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
																<rect height="24" width="24" x="0" y="0"></rect>
																<polygon fill="#000000" opacity="0.3" points="5 3 19 3 23 8 1 8"></polygon>
																<polygon fill="#000000" points="23 8 12 20 1 8"></polygon>
															</g>
														</svg>
                            <!--end::Svg Icon-->
													</span>
              </div>
              <!--end::Icon-->
              <!--begin::Content-->
              <div class="d-flex flex-column">
                <a class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3" href="#">User Guide</a>
                <div class="text-dark-75">Complete Knowledgebase</div>
              </div>
              <!--end::Content-->
            </div>
          </div>
        </div>
        <!--end::Callout-->
      </div>
    </div>
  </div>
  <!--end::why us-->

</main>

<footer class="footer mt-lg-48 bg-white wavy" style="position: relative">
  <div class="card card-custom gutter-b mx-auto" style="max-width:640px">
    <div class="card-header mx-auto">
      <div class="card-title">
        <h5 class="card-label">Contact us</h5>
      </div>
    </div>
    <!--begin::Form-->
    <form class="form">
      <div class="card-body">
        <div class="row">
          <div class="col-xl-2"></div>
          <div class="col-xl-8">
            <!--begin::Input-->
            <div class="form-group">
              <label>Name</label>
              <input class="form-control form-control-solid form-control-lg" placeholder="Enter your name" type="text">
            </div>
            <!--end::Input-->
            <!--begin::Input-->
            <div class="form-group">
              <label>Email address</label>
              <input class="form-control form-control-solid form-control-lg" placeholder="Enter email" type="email">
            </div>
            <!--end::Input-->
            <!--begin::Input-->
            <div class="form-group">
              <label for="exampleTextarea">Your Message</label>
              <textarea class="form-control form-control-solid form-control-lg" id="exampleTextarea"
                        rows="3"></textarea>
              <span class="form-text text-muted">We'll never share your email with anyone else.</span>
            </div>
            <!--end::Input-->
          </div>
          <div class="col-xl-2"></div>
        </div>
      </div>
      <!--begin::Actions-->
      <div class="card-footer">
        <div class="row">
          <div class="col-xl-3"></div>
          <div class="col-xl-6">
            <button class="btn btn-primary font-weight-bold mr-2" type="reset">Submit</button>
            <button class="btn btn-clean font-weight-bold" type="reset">Cancel</button>
          </div>
          <div class="col-xl-3"></div>
        </div>
      </div>
      <!--end::Actions-->
    </form>
    <!--end::Form-->
  </div>
  <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
      <!--begin::Copyright-->
      <div class="text-dark order-2 order-md-1">
        <span class="text-white font-weight-boldest mr-2">2022©</span>
        <a class="text-white text-hover-primary font-weight-boldest" href="" target="_blank">Scrumize</a>
      </div>
      <!--end::Copyright-->
      <!--begin::Nav-->
      <div class="nav nav-white order-1 order-md-2 font-weight-boldest  ">
        <a class="nav-link text-white pr-3 pl-0" href="" target="_blank">About</a>
        <a class="nav-link text-white px-3" href="" target="_blank">Team</a>
        <a class="nav-link pl-3 pr-0 text-white " href="" target="_blank">Contact</a>
      </div>
      <!--end::Nav-->
    </div>
    <!--end::Container-->
  </div>
</footer>


