



<div class="form-group">
  <div class="form-outline">
    <input type="search" class="form-control" id="datatable-search-input"  (input)="onSearchChange($event)"
           placeholder="Chercher une story">
  </div>
</div>

    <form class="form text-center">
      <div id="datatable" class="membredata">
      <article *ngFor="let item of storywithsprintList$">
          <input type="checkbox" name="membres[]"
                 (change)="changeStatus(item.id,$event)"
          />
          <div class="membre-content p-2">
            <div class="membre-img">
              <img [src]="GetAvtareUsingUserStory(item.pathAvtar)"
                   class="w-100 h-100 rounded-circle" alt="story image">
            </div>
            <div class="membre-detail text-left">
              <h5 class="mb-0">{{item.description}}</h5>
              <span>{{item.dateCreation | date }}</span>
            </div>
          </div>
        </article>
      </div>
      <button class="btn btn-primary" (click)="affect()">Affect</button>
    </form>

