<!--begin::Advance Table Widget 3-->
<div class="card card-custom card-stretch gutter-b">

  <div class="card-header align-items-center border-0 py-5" style="justify-content: space-between;">
    <h3 class="card-title align-items-start flex-column mr-2">
      <strong class="card-label font-weight-bolder text-dark">Sprint</strong>
    </h3>
    <div class="card-toolbar">
      <div class="form-outline" style="width: 25vw;">
        <input type="search" class="form-control" id="datatable-search-input"
               (input)="onSearchChange($event)"
               placeholder="Chercher une story">
      </div>
    </div>
    <a (click)="canIaddorEdit=true" href="#" class="btn btn-success font-weight-bolder font-size-sm" data-toggle="modal" data-target="#sprintmodel">
      Ajouter Sprint
    </a>
  </div>


  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body pt-0 pb-3">
    <!--begin::Table-->
    <div class="table-responsive table-container">
      <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
        <thead>

        <tr class="text-uppercase">
          <th style="width: 35%"  class="pl-7">
            <span class="text-dark-75">Libelle</span>
          </th>
          <th style="width: 20%">Date Creation</th>
          <th style="width: 25%">Date Estimee de Fin</th>
          <th style="width: 20%">  Action </th>


        </tr>


        </thead>
        <tbody>

        <tr class="bg-dark border border-white" *ngFor="let item of springList$" (click)="ShowStory(item)" >
          <td class="py-8"  style="width: 35%">
            <strong class="text-white font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.libelle}}</strong>
          </td>
          <td  style="width: 20%">
            <strong class="text-white font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.dateCreation|date}}</strong>
          </td>
          <td  style="width: 25%">
            <strong class="text-white font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.dateestimeedefin|date}}</strong>
          </td>
          <td  style="width: 20%">

            <a (click)="assignSprint(item)"  class="btn btn-icon btn-light-success btn-hover-success btn-sm mr-3" data-toggle="modal" data-target="#sprintmodel">
            <span class="svg-icon svg-icon-success svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo2\dist/../src/media/svg/icons\Design\Edit.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24"/>
                    <path d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                    <rect fill="#000000" opacity="0.3" x="5" y="20" width="15" height="2" rx="1"/>
                </g>
            </svg><!--end::Svg Icon--></span>
            </a>



            <a (click)="deleteItem(item)"  class="btn btn-icon btn-light btn-hover-primary btn-sm mr-3">
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo2\dist/../src/media/svg/icons\General\Visible.svg--><!--end::Svg Icon-->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
             </svg>
            </span>
            </a>

            <a (click)="Affect(item)"  class="btn btn-icon btn-light btn-hover-primary btn-sm" data-toggle="modal" data-target="#sprintmode2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
            </svg>
            </a>


          </td>
        </tr>

        </tbody>
      </table>

      <!-- begin pagination -->

      <div *ngIf="pager.totalPages > 0" class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="d-flex flex-wrap py-2 mr-3">


          <div>
            <a  (click)="givepg(1)" class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i class="ki ki-bold-double-arrow-back icon-xs"></i></a>
            <a  (click)="givepg(pager.currentPage-1)" class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i class="ki ki-bold-arrow-back icon-xs"></i></a>
          </div>


          <a *ngFor="let item of [].constructor(pager.endPage); let i = index"
             (click)="givepg(i+1)"
             [ngClass]="i == pager.currentPage-1 ? 'active' : ''"
             class="btn btn-icon btn-sm border-0 btn-hover-success mr-2 my-1">
            {{i+1}} </a>


          <div>
            <a (click)="givepg((pager.currentPage+1 <= pager.endPage) ? pager.currentPage+1 : pager.endPage )"  class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i class="ki ki-bold-arrow-next icon-xs"></i></a>
            <a (click)="givepg(pager.endPage)"  class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i class="ki ki-bold-double-arrow-next icon-xs"></i></a>
          </div>

        </div>
        <div class="d-flex align-items-center py-3">
          <select
            #mySelect
            (change)='onOptionsSelected(mySelect.value)'
            class="form-control form-control-sm text-success font-weight-bold mr-4 border-0 bg-light-success" style="width: 75px;">
            <option value="3">3</option>
            <option value="5" selected>5</option>
            <option value="7">7</option>
          </select>
          <span class="text-muted">Displaying {{pager.currentPage}} of {{pager.totalPages}} pages</span>
        </div>
      </div>

      <!-- end of pagination -->

    </div>
    <!--end::Table-->
  </div>
  <!--end::Body-->
</div>
<!--end::Advance Table Widget 3-->





<!-- form for adding and updating -->

<!-- Modal -->
<div class="modal fade" id="sprintmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-edit-sprint [sprint]="sprint" [btnManger]="canIaddorEdit" (refPageancClose)="doSomething()"></app-add-edit-sprint>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal for affect user story to sprint -->
<div class="modal fade" id="sprintmode2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <app-story-affection *ngIf="backlog" [backlog]="backlog" [currentsprint]="currentsprint" (closeFormWhenAffect)="clsfrm()"></app-story-affection>
      </div>
    </div>
  </div>
</div>
