<!--begin::Advance Table Widget 3-->
<div class="card card-custom card-stretch gutter-b">

  <div class="card-header align-items-center border-0 py-5" style="justify-content: space-between;">
    <h3 class="card-title align-items-start flex-column mr-2">
      <strong class="card-label font-weight-bolder text-dark">chercher une story </strong>
    </h3>
    <div class="card-toolbar">
      <div class="form-outline" style="width: 25vw;">
        <input type="search" class="form-control" id="datatable-search-input"
               (input)="onSearchChange($event)"
               placeholder="type here">
      </div>
    </div>
  </div>


  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body pt-0 pb-3">
    <!--begin::Table-->
    <div class="table-responsive table-container">
      <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
        <thead>

        <tr class="text-uppercase">
          <th style="width: 20%"  class="pl-7">
            <span class="text-dark-75">Libelle</span>
          </th>
          <th style="width: 20%">Date Creation</th>
          <th style="width: 25%">Date Estimee de Fin</th>
          <th class="text-center" style="width: 15%">Etat</th>
          <th class="text-center" style="width: 20%">Action</th>
        </tr>


        </thead>
        <tbody>

        <div *ngIf="storysprintList$ != undefined && storysprintList$.length>0; else content">
        <tr class="border border-white" *ngFor="let item of storysprintList$">
          <td class="py-8"  style="width: 20%">
            <strong class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.story.description}}</strong>
          </td>
          <td  style="width: 20%">
            <strong class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.story.dateCreation|date}}</strong>
          </td>
          <td  style="width: 25%">
            <strong class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{item.story.dateDerniereModification|date}}</strong>
          </td>
          <td class="text-center"  style="width: 15%">
            <strong class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{GetEtatAsString(item.story.etat)}}</strong>
          </td>
          <td   style="width: 20%;text-align: center">
            <a (click)="deleteItem(item.story)"   class="btn btn-icon btn-light btn-hover-danger btn-sm mr-3">
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo2\dist/../src/media/svg/icons\General\Visible.svg--><!--end::Svg Icon-->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
             </svg>
            </span>
            </a>
          </td>
        </tr>
        </div>
        </tbody>
      </table>

      <!-- begin pagination -->

      <div *ngIf="pager.totalPages > 0" class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="d-flex flex-wrap py-2 mr-3">


          <div>
            <a  (click)="givepg(1)" class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i class="ki ki-bold-double-arrow-back icon-xs"></i></a>
            <a  (click)="givepg(pager.currentPage-1)" class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i class="ki ki-bold-arrow-back icon-xs"></i></a>
          </div>


          <a *ngFor="let item of [].constructor(pager.endPage); let i = index"
             (click)="givepg(i+1)"
             [ngClass]="i == pager.currentPage-1 ? 'active' : ''"
             class="btn btn-icon btn-sm border-0 btn-hover-success mr-2 my-1">
            {{i+1}} </a>


          <div>
            <a (click)="givepg((pager.currentPage+1 <= pager.endPage) ? pager.currentPage+1 : pager.endPage )"  class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i class="ki ki-bold-arrow-next icon-xs"></i></a>
            <a (click)="givepg(pager.endPage)"  class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i class="ki ki-bold-double-arrow-next icon-xs"></i></a>
          </div>

        </div>
        <div class="d-flex align-items-center py-3">
          <select
            #mySelect
            (change)='onOptionsSelected(mySelect.value)'
            class="form-control form-control-sm text-success font-weight-bold mr-4 border-0 bg-light-success" style="width: 75px;">
            <option value="3">3</option>
            <option value="5" selected>5</option>
            <option value="7">7</option>
          </select>
          <span class="text-muted">Displaying {{pager.currentPage}} of {{pager.totalPages}} pages</span>
        </div>
      </div>

      <!-- end of pagination -->

    </div>
    <!--end::Table-->
  </div>
  <!--end::Body-->
</div>
<!--end::Advance Table Widget 3-->
<ng-template #content>
  <div class="mt-5 alert alert-custom alert-notice alert-light-warning shadow fade show "
       role="alert">
    <div class="alert-icon"><i class="flaticon-warning"></i></div>
    <div class="alert-text">Opps is seems that you have zero story</div>
  </div>
</ng-template>
