<!--begin::Advance Table Widget 3-->
<div class="card card-custom card-stretch gutter-b">
  <!--begin::Header-->
  <div class="card-header align-items-center border-0 py-5" style="justify-content: space-between;">
    <h3 class="card-title align-items-start flex-column mr-2">
      <strong class="card-label font-weight-bolder text-dark">Backlog</strong>
    </h3>
    <div class="card-toolbar">
      <div class="form-outline" style="width: 25vw;">
        <input (input)="onSearchChange($event)" class="form-control" id="datatable-search-input"
               placeholder="Chercher une story"
               type="search">
      </div>
    </div>

     <span *ngIf="jwtService.hasRole('ScrumMaster')">
    <button  (click)="createBacklog()" *ngIf="backlog===undefined"
            class="btn btn-success font-weight-bolder font-size-sm mx-2">
      Creer Backlog
    </button>
    <a *ngIf="backlog!==undefined" class="btn btn-success font-weight-bolder font-size-sm mx-2"
       data-target="#exampleModal"
       data-toggle="modal" href="#">
      Ajouter User Story
    </a>
     </span>

  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body pt-0 pb-3">
    <!--begin::Table-->
    <div class="table-responsive table-container">
      <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
        <thead>
        <tr class="text-uppercase">
          <th class="pl-7" style="width: 25%">
            <span class="text-dark-75">Description</span>
          </th>
          <th class="text-center" style="width: 20%">Sprint</th>
          <th style="width: 20%">Date Creation</th>
          <th style="width: 20%">Date Dernier Modification</th>
          <th *ngIf="jwtService.hasRole('ScrumMaster')" class="text-center" style="width: 20%">Action</th>
        </tr>
        </thead>
        <tbody id="datatable">

        <!--  Begin items -->

        <tr (click)="AssignUserStory(item.id)" *ngFor="let item of storyList$"
            class="border border-light">
          <td style="width: 25%" class="pl-0 py-3 px-2">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0 mr-4" style="width: 40px; height: 40px;">
                <img [src]="GetAvtareUsingUserStory(item.pathAvtar)"
                     alt="profil picture" class="rounded-circle w-100 h-100"/>
              </div>
              <div>
                <strong
                  class="text-dark-75 font-weight-bolder mb-1 font-size-lg">{{item.description}}</strong>
              </div>
            </div>
          </td>
          <td style="width: 20%">
            <strong
              class="text-center text-dark-75 font-weight-bolder d-block font-size-lg">{{item.libelle != null ? item.libelle : '--'}}</strong>
          </td>
          <td style="width: 20%">
            <strong
              class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.dateCreation | date}}</strong>
          </td>
          <td style="width: 20%">
            <span
              class="text-dark-75 font-weight-bolder d-block font-size-lg">{{item.dateDerniereModification | date}}</span>
          </td>
          <td style="width: 20%" class="text-center pr-0 px-2" *ngIf="jwtService.hasRole('ScrumMaster')">


            <a (click)="EditModel(item)" class="btn btn-icon btn-light-success btn-hover-success btn-sm mr-3"
               data-target="#exampleModal1" data-toggle="modal">
            <span class="svg-icon svg-icon-success svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo2\dist/../src/media/svg/icons\Design\Edit.svg--><svg
              height="24px" viewBox="0 0 24 24" width="24px"
              xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
                    <rect height="24" width="24" x="0" y="0"/>
                    <path
                      d="M8,17.9148182 L8,5.96685884 C8,5.56391781 8.16211443,5.17792052 8.44982609,4.89581508 L10.965708,2.42895648 C11.5426798,1.86322723 12.4640974,1.85620921 13.0496196,2.41308426 L15.5337377,4.77566479 C15.8314604,5.0588212 16,5.45170806 16,5.86258077 L16,17.9148182 C16,18.7432453 15.3284271,19.4148182 14.5,19.4148182 L9.5,19.4148182 C8.67157288,19.4148182 8,18.7432453 8,17.9148182 Z"
                      fill="#000000" fill-rule="nonzero"
                      transform="translate(12.000000, 10.707409) rotate(-135.000000) translate(-12.000000, -10.707409) "/>
                    <rect fill="#000000" height="2" opacity="0.3" rx="1" width="15" x="5" y="20"/>
                </g>
            </svg><!--end::Svg Icon--></span>
            </a>


            <a (click)="deleteItem(item)" class="btn btn-icon btn-light btn-hover-danger btn-sm">
            <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\legacy\metronic\theme\html\demo2\dist/../src/media/svg/icons\General\Visible.svg-->
              <!--end::Svg Icon-->
            <svg class="bi bi-trash" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                 xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
              fill-rule="evenodd"/>
             </svg>
            </span>
            </a>


               <!-- Button for affect user story to only dev in this project  -->

                  <a (click)="assignStoryId(item.id)" class="btn btn-icon btn-light btn-hover-primary btn-sm ml-3" data-toggle="modal" data-target=".bd-example-modal-lg">
                    <span class="svg-icon svg-icon-primary svg-icon-2x">

                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                           <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                           <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                       </svg>

                    </span>
                  </a>

              <!-- ...  -->


          </td>
        </tr>

        <!-- Edit Modal -->
        <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal1" role="dialog"
             tabindex="-1">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Edit user story</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form class="form">

                  <div class="form-group">
                    <label for="desc1">DESCRIPTION</label>
                    <input [(ngModel)]="value.description" aria-describedby="DESCRIPTION" class="form-control"
                           id="desc1"
                           name="description" placeholder="Enter DESCRIPTION" type="text">
                  </div>

                  <div class="form-group">
                    <label for="cmt1">commentaire</label>
                    <textarea [(ngModel)]="value.commentaire" class="form-control" cols="50" id="cmt1" maxlength="200"
                              name="commentaire" ngForm rows="4"></textarea>
                  </div>

                  <button (click)="onUpdating()" class="btn btn-primary" type="submit">Edit</button>
                </form>

              </div>
            </div>
          </div>
        </div>

        <!-- End items -->
        </tbody>
      </table>
      <div *ngIf="pager.totalPages > 0" class="d-flex justify-content-between align-items-center flex-wrap">
        <div class="d-flex flex-wrap py-2 mr-3">


          <div>
            <a (click)="givepg(1)" class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i
              class="ki ki-bold-double-arrow-back icon-xs"></i></a>
            <a (click)="givepg(pager.currentPage-1)" class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i
              class="ki ki-bold-arrow-back icon-xs"></i></a>
          </div>


          <a (click)="givepg(i+1)"
             *ngFor="let item of [].constructor(pager.endPage); let i = index"
             [ngClass]="i == pager.currentPage-1 ? 'active' : ''"
             class="btn btn-icon btn-sm border-0 btn-hover-success mr-2 my-1">
            {{i + 1}} </a>


          <div>
            <a (click)="givepg((pager.currentPage+1 <= pager.endPage) ? pager.currentPage+1 : pager.endPage )"
               class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i class="ki ki-bold-arrow-next icon-xs"></i></a>
            <a (click)="givepg(pager.endPage)" class="btn btn-icon btn-sm btn-light-success mr-2 my-1"><i
              class="ki ki-bold-double-arrow-next icon-xs"></i></a>
          </div>

        </div>
        <div class="d-flex align-items-center py-3">
          <select
            #mySelect
            (change)='onOptionsSelected(mySelect.value)'
            class="form-control form-control-sm text-success font-weight-bold mr-4 border-0 bg-light-success"
            style="width: 75px;">
            <option value="3">3</option>
            <option selected value="5">5</option>
            <option value="7">7</option>
          </select>
          <span class="text-muted">Displaying {{pager.currentPage}} of {{pager.totalPages}} pages</span>
        </div>
      </div>
    </div>
    <!--end::Table-->
  </div>
  <!--end::Body-->
</div>
<!--end::Advance Table Widget 3-->


<!-- Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter user story</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form">

          <div class="form-group">
            <label for="desc">DESCRIPTION</label>
            <input [(ngModel)]="story.description" aria-describedby="DESCRIPTION" class="form-control" id="desc"
                   name="description" placeholder="Enter DESCRIPTION" type="text">
          </div>

          <div class="form-group">
            <label for="cmt">commentaire</label>
            <textarea [(ngModel)]="story.commentaire" class="form-control" cols="50" id="cmt" maxlength="200"
                      name="commentaire"
                      ngForm rows="4"></textarea>
          </div>

          <button (click)="onSubmit()" class="btn btn-primary" type="submit">Save</button>
        </form>

      </div>
    </div>
  </div>
</div>


<!-- Modal for affect dev to story -->

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"
  id="lgmodel" >
  <div class="modal-dialog  modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Affect User Story to Dev</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <ng-container *ngIf="project != undefined">
        <form  class="form text-center">
          <h4 class="text-left my-5">
            Choisir les membre de l'equipe pour ce projet :
          </h4>
          <div class="membredata" id="datatable2">
            <article *ngFor="let user of project.utilisateurProjets">
              <input name= "rbutton" type="radio"
                     (change)="changeStatus(user.utilisateur.id,$event)" />
              <div class="membre-content p-2">
                <div class="membre-img">
                  <img
                    alt="{{ user.utilisateur.userName }}"
                    class="w-100 h-100 rounded-circle"
                    src="https://localhost:44349/{{ user.utilisateur.pathImage }}"
                  />
                </div>
                <div class="membre-detail text-left">
                  <h5 class="mb-0">{{ user.utilisateur.userName }}</h5>
                  <span>{{ user.utilisateur.discriminator }}</span>
                </div>
              </div>
            </article>
          </div>
          <button class="btn btn-primary" type="submit" (click)="addstorytomembre()">Ajouter</button>
        </form>
         </ng-container>
      </div>
    </div>
  </div>
</div>

